<!DOCTYPE html>
<html lang='zh-cn'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>在线相册</title>

  <!-- Bootstrap -->
  <link href='/css/bootstrap.css' rel='stylesheet'>

  <!--[if lt IE 9]>
      <script src='/js/html5shiv.min.js'></script>
      <script src='/js/respond.min.js'></script>
    <![endif]-->
  <style>
    div.box {
      width: 1000px;
      margin: 70px auto;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">在线相册</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/pic/upload">上传图片<span class="sr-only">(current)</span></a></li>
          <li><a href="/album/create">新建相册</a></li>
        </ul>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="box">
    <% if(status==1){%>
    <h1><%= data %></h1>
    <% }else{ %>
    <form class="form" action="/pic/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <h3>请选择相册:</h3>
        <select name="dirName" id="dir" class="form-control">
          <% for(var i=0;i<data.length;i++){ %>
          <option value="<%= data[i] %>"><%= data[i] %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <h4>请选择上传的图片:</h4>
        <input type="file" name="pic">
      </div>
      <div class="form-group">
        <input type="submit" value="上传" class="btn btn-info">
      </div>
    </form>
    <% } %>
  </div>
  <script src='/js/jquery.min.js'></script>
  <script src='/js/bootstrap.js'></script>

</body>

</html>